#Box{
    margin: auto;
    margin-top: 60px;
    width: 350px;
    height: 320px;
}

h2 { 
    text-align: center;
    margin-top: 10px;
}

#login{
    margin-top: 20px;
}

.form-control{
    width: 270px;
    margin-left: 40px;
}

.title{
    margin-left: 40px;
}

button {
    width: 100px;
    margin-left: 125px;
}

#paragrafo{
    text-align: center;
    font-size: 12px;
}